<!-- footer -->

<div class="panel-footer">
<div class="row featurette">
<div class="text-left col-md-4 col-lg-4">
<br>
<a href="index.html">
<img src="/img/JacpFX_Project_Switzerland_Logo.png" class="img-responsive" width="220" height="44" alt="JacpFX Logo">
</a><br>
<p align="left">&copy; 2015 
<a href="https://twitter.com/AndyAHCP">Andy Moncsek</a> | 
<a href="http://ch.linkedin.com/pub/patrick-symmangk/94/30b/83">Patrick Symmangk</a> | 
<a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2 License</a>
</div>
                
<div class="text-left col-md-4 col-lg-4">
<h3>Documentation</h3>
<p align="left">
<a href="documentation_main.html">Documentation</a> | 
<a href="documentation_quickstart.html">Quickstart</a> 
</p>
</div>

<div class="text-left col-md-4 col-lg-5">
<h3>Get In Touch</h3>

<table width="100%" cellspacing="12" summary="Get In Touch With JacpFX Project">
  <tr>
    <td>
    <a href="http://ch.linkedin.com/pub/patrick-symmangk/94/30b/83" target="_blank">
    <img style="position: center;" src="/img/JacpFX_Symbols_Linkedin.png" class="img-responsive" alt="Linkedin">
    </a>
    </td>
    <td>
    <a href="https://twitter.com/AndyAHCP" target="_blank">
    <img style="position: center;" src="/img/JacpFX_Symbols_Twitter.png" class="img-responsive" alt="Twitter">
    </a>
    </td>
    <td>
    <a href="https://github.com/JacpFX" target="_blank">
    <img style="position: center;" src="/img/JacpFX_Symbols_GitHub.png" class="img-responsive" alt="GitHub">
    </a>
    </td>
    
    <td>
    <a href="https://oracleus.activeevents.com/2014/connect/search.ww?eventRef=javaone#loadSearch-event=null&searchPhrase=Jacpfx&searchType=session&tc=0&sortBy=&p=&i%2810009%29=10111" target="_blank">
    <img style="position: center;" src="/img/speaking.jpg" class="img-responsive" alt="Speaking at JavaOne">
    </a>
    </td>
  </tr>
</table>

</div>
</div>
</div>

<a href="#" id="toTop-right" class="btn btn-large btn-danger" style="display: inline;"> Scroll to top</a>
</div>

        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery_002.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/holder.htm"></script>>
        <script src="js/jquery.js"></script>
        
         <!-- css3-mediaqueries.js for IE less than 9 -->
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

	<script>
	  window.twttr = (function (d,s,id) {
	    var t, js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
	    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
	    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
	  }(document, "script", "twitter-wjs"));
	</script>
	
	
 <!-- Scroll-to-top Script -->
        <script src="js/scroll-top.js"></script>
        <!-- Scroll-to-Top Initialisieren -->
        <script type="text/javascript">
            $(document).ready(function(){
            	$('.top').UItoTop();
            	});
        </script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17917705-6', 'auto');
  ga('send', 'pageview');

</script>


<a href="#" id="toTop-right" class="btn btn-large btn-danger" style="display: none;"> <i class="icon-chevron-up icon-white"></i> Scroll to top</a>

</body>
</html>