<div class="container">
            <a name="About"></a>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h2>About Us</h2>
            <a href="https://twitter.com/AndyAHCP" target="_blank" title="Andy Moncsek">
            Andy Moncsek</a>
            <a href="http://ch.linkedin.com/pub/patrick-symmangk/94/30b/83" target="_blank" title="Patric Symmangk">
            Patrick Symmangk</a>
            
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h2>Get In Touch
            <!-- Share Funktion <a href="https://plus.google.com/share?url=%7Bhttps://github.com/JacpFX%7D" target="_blank" title="Google+">
            <img style="position: center; margin-right: 10px;" class="img-responsive img-thumbnail" alt="Google" width="64" height="64" src="Social_Icons_Google.svg">
            </a> -->
            <a href="https://twitter.com/AndyAHCP" target="_blank" title="Twitter">
            <img style="position: center; margin-right: 5px;" class="img-responsive img-thumbnail" alt="Twitter" width="64" height="64" src="/img/Social_Icons_Twitter.svg">
            </a>
            <a href="https://github.com/JacpFX" target="_blank" title="GitHub">
            <img style="position: center; margin-left: -5px;" class="img-responsive img-thumbnail" alt="GitHub" width="64" height="64" src="/img/Social_Icons_GitHub.svg">
            </a>
            </h2>
			</div>
</div>

    <!-- footer -->

    <div id="footer">
      <div class="container">
      <hr class="featurette-divider">
        <p class="text-muted credit">&copy; 2014 Andy Moncsek &middot; Patrick Symmangk <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" title="Apache 2 License">Apache 2 License</a>.<br></p>
      </div>
    </div>


        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery_002.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/holder.htm"></script>>
        <script src="js/jquery.js"></script>
        <!-- Scroll-to-top Script -->
        <script src="js/scroll-top.js"></script>
        <!-- Scroll-to-Top Initialisieren -->
        <script type="text/javascript">
            $(document).ready(function(){
            	$('.top').UItoTop();
            	});
        </script>









    </div><a href="#" id="toTop-right" class="btn btn-large btn-danger" style="display: inline;"><i class="icon-chevron-up icon-white"></i> Scroll to top</a>


    <a href="#" id="toTop-right" class="btn btn-large btn-danger"><i class="icon-chevron-up icon-white"></i> Scroll to top</a>
</body>

</html>