<!DOCTYPE html>
<html lang="en" class="crsa-stop-animations">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The JacpFX Project is an API to create Rich Clients in MVC style with JavaFX, Spring (or other DI frameworks) and an Actor like component approach.">
    <meta name="author" content="steffler">
    <meta name="keywords" content="JacpFX, JavaFX, AFX Component, JacpFX Messaging, JacpFX local messages, JacpFX global messages, Modal Dialogs, JacpFX OptionPane, Styling the JacpFX OptionPane, JACPToolBar, JACPMenuBar, Non blocking UI, User Interface Application, Framework, Jacp, API, WCS, MVC, Rich Client, Javascript">
    <meta name="author" content="steffler">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>JacpFX Project - Java Asynchronous Client Platform</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">


</head>

<body>
    <div class="container">
        <!-- Static navbar -->

        <a href="https://github.com/JacpFX/JacpFX" target="_blank">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="img/DOWNLOAD_JacpFX_On_GitHUB.png" alt="Fork me on GitHub" class="hidden-xs hidden-sm hidden-md">
        </a>

        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/img/JacpFX_Project_Switzerland_Logo.svg" class="img-responsive" style="position: center;" align="middle">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="documentation_quickstart.html">Quickstart</a>
                            </li>
                            <li><a href="documentation_main.html">Documentation main</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="navbar-brand" href="#About" data-placement="bottom" title="Get In Touch">About Us</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="https://github.com/JacpFX/JacpFX" data-placement="bottom" target="_blank" title="Go To GitHub">
                            <span class="glyphicon glyphicon-share-alt"></span> GitHub</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Carousel-->

        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
				<li data-target="#carousel1" data-slide-to="3"></li>
            </ol>
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/img/JacpFX_Structure_and_Composition_Header.png" alt="Compose your applications with FXML and plain JavaFX">
                    <div class="carousel-caption">
                        <h3 class="hidden-xs hidden-sm">Compose your applications with FXML and plain JavaFX</h3> 
                        <p></p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/JacpFX_Loosely_Coupled_Header.png" alt="JacpFX components are referenced by id">
                    <div class="carousel-caption">
                        <h3>JacpFX components are referenced by id</h3> 
                        <p></p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/JacpFX_Messaging_Header.png" alt="Change components state through messages">
                    <div class="carousel-caption">
                        <h3>Change components state through messages</h3> 
                        <p></p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/JacpFX_Non-Blocking_UI_Header.png" alt="Avoid pitfalls of traditional multi-threaded programming">
                    <div class="carousel-caption">
                        <h3>Avoid pitfalls of traditional multi-threaded programming</h3> 
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel1" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span> 
            </a>
            <a class="right carousel-control" href="#carousel1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span> 
            </a>
        </div>