<!DOCTYPE html>
<html lang="en" style="" class="wf-lato-n4-active wf-active">

<head>
 <meta charset="utf-8">
 <!-- disable iPhone inital scale -->
 <meta name="viewport" content="width=device-width; initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">

 <!-- Meta tags -->
 <meta name="description" content="Components are referenced by ID and can be changed at anytime by replacing their ID in the parent annotation. Organize an application with loosely coupled and reusable components.">

 <!-- Author -->
 <meta name="author" content="Steffen Walter" >

 <!-- Keywords -->
 <meta name="keywords" content="JacpFX; JavaFX; Structure; Composition; FXComponents; Loosley Coupling; Messaging; local messages; global messages; Non blocking UI; User Interface Application; Framework">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/timer.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.gif">
  <title>JacpFX Project - Java Asynchronous Client Platform</title>

  <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- IE10-Anzeigefenster-Hack für Fehler auf Surface und Desktop-Windows-8 -->
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
  <script id="twitter-wjs" async="" src="https://platform.twitter.com/widgets.js"></script>
  <script src="js/ie10-viewreport-bug-workaround.js"></script>
  <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- Unterstützung für Media Queries und HTML5-Elemente im Internet Explorer über HTML5 shim und Respond.js -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body data-twttr-rendered="true" data-spy="scroll">

<div class="container">

<nav class="navbar navbar-default" role="navigation">
 <div class="container-fluid">
<!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
<div class="navbar-header">
 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle Navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="index.html">
<img src="img/JacpFX_Project_Switzerland_Logo.png" class="img-responsive" style="position: center;" align="middle" width="110" height="22">
 </a>
</div>

<!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <ul class="nav navbar-nav">
<li><a href="index.html">Home</a></li>
<li class="active dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="structComposition.html">Structure & Composition</a></li>
                              <li><a href="looselyCoupled.html">Loosely Coupled</a></li>
                              <li><a href="messaging.html">JacpFX Messaging</a></li>
                              <li><a href="nonblocking.html">Non-Blocking UI</a></li>
                            </ul>
                        </li>
                        <li><a href="documentation_main.html">Documentation</a></li>
                        <li><a href="documentation_quickstart.html">Tutorial</a></li>
                        <li><a href="blog.html">Blog</a></li>
 </ul>
 <ul class="nav navbar-nav navbar-right">
                        <a class="navbar-brand" href="https://ch.linkedin.com/in/andy-moncsek-0a580349" target="_blank">
                            <img src="img/JacpFX_Symbols_Linkedin.png" height="24px" width="24px" class="img-responsive" style="position: center;" align="middle">
                        </a>
                        <a class="navbar-brand" href="https://twitter.com/AndyAHCP" target="_blank">
                            <img src="img/JacpFX_Symbols_Twitter.png" height="24px" width="24px" class="img-responsive" style="position: center;" align="middle">
                        </a>
                        <a class="navbar-brand" href="https://github.com/JacpFX" target="_blank">
                            <img src="img/JacpFX_Symbols_GitHub.png" height="24px" width="24px" class="img-responsive" style="position: center;" align="middle">
                        </a>
</ul>
</div>
</div>
</nav>

<!--Breadcrumb-->
<!--Breadcrumb-->
<!--Breadcrumb-->
<!--Breadcrumb-->
<!--Breadcrumb-->

<ol class="breadcrumb">
<li><a href="index.html">Home</a></li>
<li><a href="features.html">Features</a></li>
<li class="active">Loosely Coupled</li>
</ol>


<!--Spaltenaufteilung links: Menu, rechts: Content-->
    <!--Spaltenaufteilung links: Menu, rechts: Content-->
    <!--Spaltenaufteilung links: Menu, rechts: Content-->
    <!--Spaltenaufteilung links: Menu, rechts: Content-->
    <!--Spaltenaufteilung links: Menu, rechts: Content-->
    <section>
    <div class="row featurette">
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <!--Linke Navigation-->
      <div id="side-nav" style="position: relative; padding-top: 5px; border: 1px; border-color: #66ff00">
          <ul class="nav nav-pills nav-stacked affix" >
            <div class="progress-indicator" style="margin-top: 20px; margin-left: 50px;" id="category">
             <svg>
                 <g>
                     <circle cx="0" cy="0" r="20" stroke="black" class="animated-circle" transform="translate(50,50) rotate(-90)"  />
                 </g>
                 <g>
                     <circle cx="0" cy="0" r="38" transform="translate(50,50) rotate(-90)"  />
                 </g>
             </svg>
             <div class="progress-count"> </div>
           </div>


          </ul>

        </div>

    <!--Spaltenaufteilung links: Menu, rechts: Content-->
    <!--Spaltenaufteilung links: Menu, rechts: Content-->
    <!--Spaltenaufteilung links: Menu, rechts: Content-->
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
