<!DOCTYPE html>
<html lang="en" class="crsa-stop-animations">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The JacpFX Project is an API to create Rich Clients in MVC style with JavaFX, Spring (or other DI frameworks) and an Actor like component approach.">
    <meta name="author" content="steffler">
    <meta name="keywords" content="JacpFX, JavaFX, AFX Component, JacpFX Messaging, JacpFX local messages, JacpFX global messages, Modal Dialogs, JacpFX OptionPane, Styling the JacpFX OptionPane, JACPToolBar, JACPMenuBar, Non blocking UI, User Interface Application, Framework, Jacp, API, WCS, MVC, Rich Client, Javascript">
    <meta name="author" content="steffler">
    <link rel="shortcut icon" href="http://jacpfx.org/img/favicon.png">
    <title>JacpFX Project - Java Asynchronous Client Platform - Documentation - </title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap_documentation.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="http://yandex.st/highlightjs/6.2/styles/googlecode.min.css">
 
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://yandex.st/highlightjs/6.2/highlight.min.js"></script>
 
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
 $(document).ready(function(){
      $("h1,h2,h3,h4,h5,h6").each(function(i,item){
        var tag = $(item).get(0).localName;
        $(item).attr("id","wow"+i);
        $("#category").append('<a class="new'+tag+'" href="#wow'+i+'">'+$(this).text()+'</a></br>');
        $(".newh2").css("margin-left",0);
        $(".newh3").css("margin-left",20);
        $(".newh4").css("margin-left",40);
        $(".newh5").css("margin-left",60);
        $(".newh6").css("margin-left",80);
      });
 });
</script>

</head>

<body>
    <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/img/JacpFX_Project_Switzerland_Logo_White.svg" class="img-responsive" style="position: center;" align="middle">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" href="index.html" data-placement="bottom" title="Return To Website">
                        <span class="glyphicon glyphicon-arrow-left"></span> Return To Website</a>
                    </li>
                </ul>
            </div>
        </div>
<!-- <div id="category"></div> -->